.laboratorio.selected {
    transform: scale(0.94);
    mix-blend-mode: normal;
    background: radial-gradient(circle at center, #05a61080 24%, #02c81080 100%);
}

.laboratorio.choosen {
    background: radial-gradient(circle at center, #8a660280 24%, #f77e0580 100%);
}

.laboratorio.completo {
    background: radial-gradient(circle at center, #8a660280 24%, #f7050580 100%);
}

.laboratorio {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.0);
}

.choosenMessage {
    text-align: center;
    font-variant: small-caps;
}

#conferma {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-align: center;
    background: rgb(0, 0, 0);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.img-fluid {
    border-radius: 13px;
}